html>
    <head>
        <title>El blog de Fenix</title>
    </head>
    <body>
        <div>
            <h1><em>El blog de Fenix</em></h1>
        </div>

        <br />
        <br />

        <div>
            <h2><a href="">Volando alto</a></h2>
            <p>Desplegando mis alas poquito a poco</p>
            <p>published: 30.01.2018, 15:42</p>
        </div>

        <br />
        
        <div>
            <h2><a href="">Prueba de que funciona</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            <p>published: 30.01.2018, 15:42</p>
        </div>
		
        <br />
	
        <div>
            <h2><a href="">Tercer post</a></h2>
            <p>En el texto no se colocan los signos mas y menos</p>
			<br />
            <p><em>Con amor, niñita</em><p>
 			<p>published: 30.01.2018, 15:42</p>
        </div>

    </body>
</html>
